<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gzggzy.yyh.dao.PersonalCountOffDao" >
  <sql id="BASE_TABLE">
    personal_countoff
  </sql>

  <sql id="BASE_COLUMN">
    pid,uid,record_date,record_number,public_activity_id,private_activity_id
  </sql>

  <insert id="saveOrUpdate" parameterType="cn.gzggzy.yyh.model.PersonalCountOff">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="BASE_COLUMN"/>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{pid, jdbcType=VARCHAR}, #{uid, jdbcType=VARCHAR}, #{record_date, jdbcType=DATE},#{record_number, jdbcType=INTEGER},
      #{public_activity_id, jdbcType=VARCHAR},#{private_activity_id, jdbcType=VARCHAR}
    </trim>
    ON DUPLICATE KEY UPDATE
    	uid = #{uid, jdbcType=VARCHAR},
    	record_number = #{record_number, jdbcType=INTEGER}
    ;
  </insert>
	
	
  <select id="selectTopFive" resultType="cn.gzggzy.yyh.model.PersonalCountOff">
  	SELECT 
  		<include refid="BASE_COLUMN"/>
  	FROM
  		<include refid="BASE_TABLE"/>
  	<where>
  		<if test=" uid != null and uid != '' ">
  			uid = #{uid}
  		</if>
  	</where>
  	ORDER BY
  		record_date
  	DESC
  	LIMIT
  		0, 5
  </select>	
		
  <select id="selectAll" resultType="cn.gzggzy.yyh.model.PersonalCountOff">
  	SELECT 
  		<include refid="BASE_COLUMN"/>
  	FROM
  		<include refid="BASE_TABLE"/>
	<where>
		<if test=" uid != null and uid != '' ">
			uid = #{uid}
		</if>
  	</where>
  	ORDER BY
  		record_date
  	DESC
  </select>
  
  <select id="selectHistoryMonthIndex" resultType="java.lang.String">
  	SELECT 
  		DATE_FORMAT(record_date, '%Y-%m') date
  	FROM
  		<include refid="BASE_TABLE"/>
	<where>
		<if test=" uid != null and uid != '' ">
			uid = #{uid}
		</if>
  	</where>
  	GROUP BY
  		date
  	ORDER BY
  		date
  	DESC
  </select>
  
  <select id="selectHistoryPerMonth" resultType="cn.gzggzy.yyh.model.PersonalCountOff">
  	SELECT 
  		<include refid="BASE_COLUMN"/>
  	FROM
  		<include refid="BASE_TABLE"/>
  	<where>
		uid = #{uid}
	AND
  		DATE_FORMAT(record_date, '%Y-%m') = #{date}
  	</where>
  	ORDER BY
  		record_date
  	DESC
  </select>
  
  <select id="weeklyStatisticByUID" resultType="java.lang.Integer">
  	SELECT
		SUM(t.record_number)
	FROM
		personal_countoff t
	WHERE
		t.uid = #{uid}
	AND DATE_FORMAT(t.record_date, '%Y-%m-%d') &gt;= #{beginDate}
	AND DATE_FORMAT(t.record_date, '%Y-%m-%d') &lt;= #{endDate}
	GROUP BY
		t.uid;
  </select>
  
  <select id="selectOneDayTotal" resultType="java.lang.Integer">
  	SELECT
		IFNULL(SUM(t.record_number), 0)
	FROM
		personal_countoff t
	WHERE
		DATE_FORMAT(t.record_date, '%Y-%m-%d') = #{date};
  </select>
  
  <select id="selectTop100" resultType="cn.gzggzy.yyh.model.PersonalCountOff">
  	SELECT
		p.pid pid , p.uid uid , u.username uName, p.record_date record_date, p.record_number record_number
	FROM
		personal_countoff p
	LEFT JOIN user_info u ON p.uid = u.user_id
	ORDER BY
		p.record_date DESC
	LIMIT 0, 100
  </select>
  
  <select id="selectPublicActivityCountNumber" resultType="java.lang.Integer">
  	SELECT
  		IFNULL(SUM(record_number), 0)
	FROM
		personal_countoff
	WHERE
		public_activity_id = #{public_activity_id}
  </select>
  
  <select id="selectPrivateActivityCountNumber" resultType="java.lang.Integer">
  	SELECT
  		IFNULL(SUM(record_number), 0)
	FROM
		personal_countoff
	WHERE
		private_activity_id = #{private_activity_id}
  </select>
  
  <select id="selectActivityJoinNumber" resultType="java.lang.Integer">
  	SELECT
		COUNT(*)
	FROM
		(
			SELECT
				COUNT(1)
			FROM
				personal_countoff
			<where>
				<if test=" public_activity_id != null and public_activity_id != '' ">
					public_activity_id = #{public_activity_id}
				</if>
			</where>
			GROUP BY
				uid
		) p;
  </select>
  
</mapper>