<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gzggzy.yyh.dao.PublicActivityDao" >
  <sql id="BASE_TABLE">
    public_activity
  </sql>

  <sql id="BASE_COLUMN">
    public_activity_id, public_activity_creator_id, public_activity_name, public_activity_begin_time, 
    public_activity_end_time, public_activity_target, public_activity_create_time, public_activity_enable, public_activity_update_time
  </sql>
  
  <select id="selectActivityAll" resultType="cn.gzggzy.yyh.model.PublicActivity">
	SELECT
		p.*, u.username public_activity_creator_name
	FROM
		public_activity p,
		user_info u
	WHERE
		p.public_activity_creator_id = u.user_id
  </select>
  
  <select id="selectActivityEnable" resultType="cn.gzggzy.yyh.model.PublicActivity">
  	<!-- SELECT
		pa.public_activity_id public_activity_id, pa.public_activity_creator_id public_activity_creator_id,
		pa.public_activity_name public_activity_name, pa.public_activity_begin_time public_activity_begin_time,
		pa.public_activity_end_time public_activity_end_time, pa.public_activity_target public_activity_target,
		pa.public_activity_create_time public_activity_create_time, pa.public_activity_enable public_activity_enable,
		ui.username public_activity_creator_name
	FROM
		public_activity pa
	LEFT JOIN user_info ui ON pa.public_activity_creator_id = ui.user_id
	WHERE
		pa.public_avtivity_enable = 1; 
		p.public_activity_id public_activity_id, p.public_activity_creator_id public_activity_creator_id,
		p.public_activity_name public_activity_name, p.public_activity_begin_time public_activity_begin_time,
		p.public_activity_end_time public_activity_end_time, p.public_activity_target public_activity_target,
		p.public_activity_create_time public_activity_create_time, p.public_activity_enable public_activity_enable,
		u.username public_activity_creator_name-->
	SELECT
		p.*, u.username public_activity_creator_name
	FROM
		public_activity p,
		user_info u
	WHERE
		p.public_activity_creator_id = u.user_id
	AND 
		p.public_activity_enable = 1
  </select>
  
  <select id="selectActivityById" resultType="cn.gzggzy.yyh.model.PublicActivity">
  	SELECT
		pa.*, ui.username public_activity_creator_name
	FROM
		public_activity pa
	LEFT JOIN user_info ui ON pa.public_activity_creator_id = ui.user_id
	WHERE
		pa.public_activity_id = #{public_activity_id};
  </select>
  
  <insert id="insertPublicActivity" parameterType="cn.gzggzy.yyh.model.PublicActivity">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="BASE_COLUMN"/>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{public_activity_id, jdbcType=VARCHAR}, #{public_activity_creator_id, jdbcType=VARCHAR},
      #{public_activity_name, jdbcType=VARCHAR}, #{public_activity_begin_time, jdbcType=DATE},
      #{public_activity_end_time, jdbcType=DATE}, #{public_activity_target, jdbcType=INTEGER},
      #{public_activity_create_time, jdbcType=DATE}, #{public_activity_enable, jdbcType=INTEGER},
      #{public_activity_update_time, jdbcType=DATE}
    </trim>
  </insert>
  
  <update id="updatePublicActivity" parameterType="cn.gzggzy.yyh.model.PublicActivity">
      update 
        <include refid="BASE_TABLE"/>
      <set>
      	<if test="public_activity_name != null and public_activity_name != '' ">
      		public_activity_name = #{public_activity_name},
      	</if>
      	<if test="public_activity_begin_time != null">
      		public_activity_begin_time = #{public_activity_begin_time},
      	</if>
      	<if test="public_activity_end_time != null">
      		public_activity_end_time = #{public_activity_end_time},
      	</if>
      	<if test="public_activity_target != null and public_activity_target != '' ">
      		public_activity_target = #{public_activity_target},
      	</if>
      	<if test="public_activity_create_time != null">
      		public_activity_create_time = #{public_activity_create_time},
      	</if>
      	<if test="public_activity_enable != null and public_activity_enable != '' ">
      		public_activity_enable = #{public_activity_enable},
      	</if>
      </set>
	  <where>
	  	public_activity_id = #{public_activity_id}
	  </where>
  </update>
  
  <delete id="deletePublicActivityById" parameterType="java.util.List">
  	DELETE FROM
  	  <include refid="BASE_TABLE"/>
  	<where>
  		public_activity_id in 
  			<foreach collection="list" item="item" index="index" separator="," open="(" close=")"> 
  				#{item}
  			</foreach>
  	</where>
  </delete>
  
</mapper>