<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gzggzy.yyh.dao.UserInfoDao" >
  <sql id="BASE_TABLE">
    user_info
  </sql>

  <sql id="BASE_COLUMN">
    user_id,username,password,first_login_time,last_login_time,login_count,last_login_ip,is_enable,create_time,third_party_enable
  </sql>

  <insert id="insert" parameterType="cn.gzggzy.yyh.model.UserInfo">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="BASE_COLUMN"/>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{user_id, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
      #{first_login_time, jdbcType=DATE}, #{last_login_time, jdbcType=DATE}, 
      #{login_count, jdbcType=INTEGER}, #{last_login_ip, jdbcType=VARCHAR}, 
      #{is_enable, jdbcType=INTEGER}, #{create_time, jdbcType=DATE},
      #{third_party_enable, jdbcType=INTEGER}
    </trim>
  </insert>

  <select id="selectUsers" resultType="cn.gzggzy.yyh.model.UserInfo">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
  </select>
  
  <select id="selectUserByUserName" resultType="cn.gzggzy.yyh.model.UserInfo" parameterType="java.lang.String">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
	  WHERE
	  	username = #{userName}
  </select>
  
  <select id="login" resultType="cn.gzggzy.yyh.model.UserInfo">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
	  WHERE
	  	username = #{userName}
	  AND
	  	password = #{password}
  </select>


</mapper>