<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gzggzy.yyh.dao.WeeklyStatisticDao" >
  <sql id="BASE_TABLE">
    weekly_statistic
  </sql>

  <sql id="BASE_COLUMN">
    pid,uid,year,month,year_week,month_week,week_total,last_update_time,week_rank,is_activity
  </sql>
  
  <insert id="saveOrUpdate" parameterType="cn.gzggzy.yyh.model.WeeklyStatistic">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="BASE_COLUMN"/>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{pid, jdbcType=VARCHAR}, #{uid, jdbcType=VARCHAR}, #{year, jdbcType=VARCHAR},#{month, jdbcType=VARCHAR},
      #{year_week, jdbcType=VARCHAR},#{month_week, jdbcType=VARCHAR},#{week_total, jdbcType=INTEGER},
      #{last_update_time, jdbcType=DATE},#{week_rank, jdbcType=INTEGER},#{is_activity, jdbcType=INTEGER}
    </trim>
    ON DUPLICATE KEY UPDATE
    	week_total = #{week_total, jdbcType=INTEGER},
    	#{last_update_time, jdbcType=DATE}
    ;
  </insert>
  
  <select id="selectWeekly" resultType="cn.gzggzy.yyh.model.WeeklyStatistic">
  	SELECT
		*
	FROM
		weekly_statistic t
	WHERE
		t.uid = #{uid}
	AND t.year = #{year}
	AND t.month = #{month}
	AND t.year_week = '{year_week}';
  </select>

</mapper>